
.container{
    position: relative;
    width: 100%;
    display:flex;
    grid-template-columns: repeat(1,1fr);    
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    padding: 30px;
    column-gap: 4rem;
    row-gap: 4rem;
}

@media screen and (max-width: 800px){
    .container{
        position: relative;
        width: 100%;
        display:flex;
        grid-template-columns: repeat(1,1fr);        
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        padding: 30px;
        column-gap: 4rem;
        row-gap: 4rem;
    }
}

.container .card{
    position:relative;
    width: 350px;
    height: 80px;    
    background: #fff;    
    padding: 5px 5px;
    display: relative;
    flex-direction: row;
    transition:0.5s ease-in-out;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.container .card:hover{
    width:500px;   
    height:230px;
    transition:0.5s ease-in-out; 
       
}

.container .card .imgBx img{
    position:relative;
    max-height: 100px; 
    right:-250px;  
                
}


.container .card:hover  img {
    opacity: 50%;
    transition-delay: 0.2s;      
}

.container .card .content_title{
    position: relative;
    right: 5rem;    
    padding:5px 5px;
    text-align: center;
    color: rgb(49, 48, 48);
    visibility: hidden;
    opacity: 0;
    transition:0.3s ease-in-out;
}

.container .card:hover .content_title{
    opacity: 2;    
    transition-delay: 0.3s;
}

.container .card .content{
    position: relative;
    top: 1rem;
    max-width:260px;
    padding:5px 5px;
    text-align: center;
    color: rgb(49, 48, 48);
    visibility: hidden;
    opacity: 0;
    transition:0.3s ease-in-out;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 2;    
    transition-delay: 0.8s;
}





